MODRINTH_API_TOKEN=
CURSEFORGE_API_TOKEN=
GITHUB_TOKEN=
DISCORD_WEBHOOK=
DISCORD_WEBHOOK_DEV=
BUILD_UNBOUND_VERSION_RANGE=false
GRADLE_ONLY_FABRIC=false
GRADLE_ONLY_FORGE=false
GRADLE_ONLY_NEOFORGE=false
GRADLE_ONLY_IMPORTANT_FABRIC=false
